name: Generate GitHub Stats Card

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub Stats SVG
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ${{ github.repository_owner }}
          filename: github-stats.svg
          output_action: commit
          committer_branch: main
          committer_message: "Atualizar GitHub stats"
          template: classic
          base: header, activity, community, repositories
          config_timezone: America/Sao_Paulo
